
  
}	

div {
	color:green;
	
}

#google1{
	color: #003300 ;
	font-size: 30px;
	border: 1px solid white;
	background-image: url(image/bluefon.png)

}

body{
	background-image: url(image/fonsait.png)
}
1
#YouTube1{
  color:Red;
  font-size: 30px;
  border: 1px solid white;
  background-image: url(image/bluefon.png)
}

#Vkontacte1{
	color:blue;
	font-size: 30px;
	border: 1px solid white;
	background-image: url(image/bluefon.png)
}

#cs16{
	color:White;
	font-size: 25px;
	border: 1px solid white;
	background-image: url(image/bluefon.png)
}


#razer1{
	color:white;
	font-size: 25px;
	border: 1px solid white;
	background-image: url(image/bluefon.png)
	
}
#zborki {
	color:white;
	font-size: 30px;
}

#zborki1 {
	color:white;
	border: 2px solid white;
	font-size: 20px;
	background-image: url(image/bluefon.png)
}

#tema{
	color:#48a420;
	font-size: 40px;
	
	
}
#NaGlavnyy{
	color:white;
	font-size: 40px;
	border: 2px solid white;
	background-color:black;
}
#cartoncs1{
 color:black;
 font-size: 20px;
 border: 2px solid black;
  background-color:white;
 
}

#cartoncs2{
color:white;
 border: 2px solid white;
  background-color:black;
 
}

#ruska1 {
	
	color:Black;
}

#cartoncs3{
	color:white;
	font-size: 25px;
	border: 1px solid white;
	background-image: url(image/bluefon.png)
}
#cartoncs5{
	color:White;
	font-size: 25px;
	border: 1px solid white;
	background-image: url(image/bluefon.png)
}

#carta {
	
	color:white;
	font-size: 25px;
	border: 1px solid white;
	background-image: url(image/bluefon.png)
	
}

#x2000 {
	color:white;
	font-size: 25px;
}

	